<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="print"/>
    <link href="{{ STATIC_URL }}css/asset_management.css" rel="stylesheet" media="screen"/>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>


    {% block script %}{% endblock %}


</head>
<body>
            {% block content %}{% endblock %}

</body>
</html>