{% extends "base.html" %}

{% block title %}All Assets {% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#asset_list').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
            } );
        } );
    </script>
{% endblock %}

{% block content %}
    <h2>Assets</h2>
    <table cellpadding="0" cellspacing="0" border="0"
           class="table span-5 table-centered table-striped table-bordered" id="asset_list">
        <thead>
        <tr>
            <th>Asset Short Name</th>
            <th>Asset Class</th>
            <th>Location</th>
            <th>Acquisition Date</th>
        </tr>
        </thead>
        {% for asset in asset_list %}
            <tr class="{{ asset.asset_class|lower }}">
                <td><a href="/Asset/{{ asset.id }}">{{ asset.short_description }}</a></td>
                <td>{{ asset.asset_class }}</td>
                <td>{{ asset.location }}</td>
                <td>{{ asset.acquisition_date|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
